{% load tailwind_tags %}
{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% tailwind_css %}
    {%static 'kilimokonnect/hero.jpeg' as backgroundimage%}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Kilimo Connect{% endblock %}</title>
</head>

<body class="font-sans">
    <nav class="px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
            <div class="flex md:space-x-16 sm:space-x-8">
                <div class="shrink-0 flex items-center">
                    <img class="size-28" src="{% static 'kilimokonnect/logo.png'%}" alt="kilimokonnect logo">
                </div>
                <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
                    <a href="#"
                        class="text-gray-900 underline inline-flex items-center px-1 pt-1 text-sm font-medium">Home</a>
                    <a href="#"
                        class="text-gray-500 hover:underline hover:text-gray-900 inline-flex items-center px-1 pt-1 text-sm font-medium">About
                        Us</a>
                    <a href="#"
                        class="text-gray-500 hover:underline hover:text-gray-900 inline-flex items-center px-1 pt-1 text-sm font-medium">Features</a>
                    <a href="#"
                        class="text-gray-500 hover:underline hover:text-gray-900 inline-flex items-center px-1 pt-1 text-sm font-medium">How
                        it works</a>
                    <a href="#"
                        class="text-gray-500 hover:underline hover:text-gray-900 inline-flex items-center px-1 pt-1 text-sm font-medium">Testimonials</a>
                </div>
            </div>
            <div class="flex items-center">
                <a href="#" class="bg-sherwood-900 text-white px-4 py-2 rounded-md shadow">Get Started</a>
            </div>
        </div>
    </nav>
    <!-- style="background-image: url('{% static "kilimokonnect/hero.jpeg" %}');" -->
    <!-- < ----image area ya hero-->
            <main>
                {%block content%}



                {% endblock %}
            </main>
            <div class="bg-rope-100 flex justify-center items-center py-10">
                <div class="flex flex-col items-center space-y-2">
                    <p class="text-center">Sign up now to get on the wait-list for our website</p>
                <button class="text-white  bg-green-800 py-2 px-3 rounded-lg">
                    Get Started
                </button>
                </div>
            </div>

    <footer class="bg-green-800 text-white  font-semibold">
        <div class="flex place-content-around py-10">
            <div>
                <p class="text-2xl">Find your way</p>
                <p>Home</p>
                <p>About us</p>
                <p>Features</p>
                <p>How it works</p>
                <p>Testimonials</p>
            </div>
            <div>
                <h1 class="text-2xl">Contacts</h1>
                <p>
                    kilimokonnect@yahoo.com
                </p>
                <p>+254-794-212696</p>
            </div>
            <div>
                <h1 class="text-2xl">Connect with us</h1>
                <div class=" flex flex-col">
                <a href="">Facebook</a>
                <a href="">Linkedin</a>
                <a href="">Twitter</a>
                <a href="">Instagram</a>

                </div>
                
            </div>
        </div>
        <p class="text-center">KilimoConnect.All rights reserved</p>


    </footer>
</body>

</html>