{%extends 'kilimokonnect/retailersmain.html'%}
{%load tailwind_tags%}
{% load static %}
{% block title%}
Financial Reports
{% endblock%}
{% block content %}
<h1>Financial reports</h1>
<hr>
<div>
    <h1>Top selling products</h1>
    <ol>
        <li>Liz Atieno - Ksh 15000 </li>
        <li>James Kimani - Ksh 13000</li>
        <li>salma Musa - Ksh 10500 </li>
    </ol>
</div>
<div>
    <h1>Graph suppossed to go here</h1>
</div>
<div>
    <h1>The monthly revenue graph</h1>
</div>

{% endblock %}
