{%extends 'kilimokonnect/ownermain.html'%}
{% load static %}
{% load tailwind_tags %}

{% block title%} Financial Reports {%endblock%}

{% block content %}
<div class="container mx-auto py-8 px-10">
    <div class="flex justify-between items-center mb-8">
        <div class="flex">
            <img class="size-7" src="{%static 'kilimokonnect/nf2.png'%}" alt="">
            <h1 class="text-3xl font-bold text-[#8b4512]">Financial reports</h1>
            <img class="size-7" src="{%static 'kilimokonnect/NF.png'%}" alt="">  
        </div>
    </div>

    <div class="m-5
        ">
        <hr>
    </div>
    <div class="grid grid-cols-2 gap-14">
        <div class=" rounded-lg shadow-md p-4 bg-[#f1e9dc]">
            <h2 class="text-lg font-bold text-[#3d2b1f] mb-2">Top Selling products</h2>
            <p class="text-3xl font-bold text-[#074c3a]">Top produce goes here</p>
        </div>
        <div class="bg-[#f1e9dc] rounded-lg shadow-md p-4">
            <h2 class="text-lg font-bold text-[] mb-2">Total Utlization</h2>
            <p class="text-3xl font-bold text-[#074c3a]">Graph goes here</p>
        </div>
    </div>
    <div class="bg-[#f1e9dc] h-80 rounded-lg my-10">
        <h1>Graph will go here</h1>
    </div>

</div>

{% endblock %}