{%extends 'kilimokonnect/retailersmain.html'%}
{%load tailwind_tags%}
{% load static %}
{% block title%}
Notification
{% endblock%}
{% block content %}
<h1>Notifications</h1>
<p>cart</p>
<hr>
<p>Produce Information </p>
<div>
    <h1>Temperature control</h1>
    <p>Want to learn how to control temperature in ..</p>
    <button>Read more</button>
</div>
<div>
    <h1>Storage maintenance</h1>
    <p>Want to learn how to control temperature in ..</p>
    <button>Read more</button>
</div>
<div>
    <h1>System maintenance</h1>
    <p>Want to learn how to control temperature in ..</p>
    <button>Read more</button>
</div>

{% endblock %}
